
#woinic {
  height: 300px;
  width: auto;
}

#overlayer {
position:fixed;
width: 100%;
height: 100%;
z-index: 2;
position: 0;
}

#text-overlayer {
  height: 50%;
  width: 50%;
  background-color: white;
  color: black;
  border: 2px solid black;
  z-index: 3;
  margin: 0 auto;
  display: none;
}

.image-boo {
  height: 250px;stash
  width: auto;
  margin:5px;
  margin-bottom: 20px;
  text-align: center;
  background-color: red;
}
header{


    height: 200px;
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    background-position: relative;
    margin-bottom: 10px;
}

#logo{
    display: inline-block;
    height: 150px;
    line-height: 150px;
    margin-left: 150px;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 400;stash
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    margin-left: 15px;
    display: inline-block;
}
nav li a:hover:not(.active) {
    background-color: rgb(155, 245, 10);
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
nav{
  margin-bottom: 10px;
}
.active {
    background-color: #4CAF50;
}

#pied
{
    display: flex;
    justify-content: space-around;
}
#football,#tennis,#rugby,#handball,#basket {
  color:blue;

}
text-center
#football ul,#basket ul,#tennis ul,#handball ul,#rugby ul
 {
  list-style-type: none;

}

#pied a {
  color:black;
  text-decoration: none;


}

#pied a:hover
{
    color: blue;
    border-bottom: 3px solid blue;
}
footer{
  background-color: #848484;
  padding:15px;
  align-content: center;
}
footer ul{
  padding-left: 10px;
}
